


        <div class=" header">
            <div class="head">

                <div class="navbar navbar-inverse navbar-fixed-top navbar" role="navigation">
                    <a href="@Url.Action("Index", "Home")" class="navbar-brand" >
                        <img src="~/image-2018-09-30.png" title="Home" alt="sitelogo" />
                    </a>
                </div>

                <div class="dropdown">
                    <a asp-action="Index" class="dropdown-top">Home</a>

                    <a asp-action="Create" class="dropdown-top">Create</a>
                </div>
            </div>
        </div>